@model ProjectPlan.Models.Globals

<div class="btn-group" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <select class="form-control" id="select_Users">
            <option selected id="none">--</option>

            @foreach (var user in Model.Users)
            {
                <option id="@user.Id">@($"{user.FirstName} {user.LastName}")</option>
            }
        </select>
    </div>

    <button type="button" class="btn btn-default" id="btn_findUser">
        <span class="glyphicon glyphicon-arrow-down"></span>
    </button>
</div>

<table class="table table-hover" id="table_userInformation">
    <thead>
        <tr>
            <th scope="col">Project Id</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Time To Start</th>
            <th scope="col">Credits</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody id="userTableBody"></tbody>
</table>