<div class="btn-group" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            @*<li id="@Model.Id">@Model.FirstName</li>*@
            <li>Test</li>
        </ul>
    </div>

    <button type="button" class="btn btn-default" id="btn_findUser">
        <span class="glyphicon glyphicon-arrow-down"></span>
    </button>
</div>

<table class="table table-hover" id="table_userInformation">
    <thead>
        <tr>
            <th scope="col">Project Id</th>
            <th scope="col">Start Date</th>
            <th scope="col">Time To Start</th>
            <th scope="col">End Date</th>
            <th scope="col">Credits</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
</table>